site_name: VinnyXP
site_url: https://vinnyxp.github.io
theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.tabs
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: pink
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: pink
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
repo_url: https://github.com/VinnyXP/vinnyxp.github.io
plugins:
  - blog:
      blog_dir: blog
  - blog:
      blog_dir: projects
nav:
  - Home:
    - index.md
  - Blog:
    - blog/index.md
  - Projects:
    - projects/index.md
  - History:
    - history.md
markdown_extensions:
  - attr_list
  - md_in_html